@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,100;1,200;1,400&family=Lora:ital,wght@0,400;0,600;1,500&family=Playfair+Display&display=swap');

.navbar{
    padding: 16px ;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    justify-content: space-between;
    background-color: rgb(64, 115, 208);
    color: aliceblue;
}

.navbar span {
    padding: 0 16px;
}

.title-nav,.li-nav,.Search{
    font-family: 'Playfair Display', serif;
}
.Search{
    margin: 0 20px 0 0;
}

.cartButton {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  

  .notify {
    width: 15px;
    height: 15px;
    background-color: crimson;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.img-cart {
    width: 40px;
  }